<div>
    <input [(ngModel)]="newAppointmentTitle"
     placeholder="Appointment description" />
    <input [(ngModel)]="newAppointmentDate" type="date" placeholder="Appointment date" />
    <!-- Read the documentation about Event -->
    <button class="btn btn-primary" (click)="addAppointment()">Add</button>
</div>


<table class="table" border="1">
    <thead>
        <tr>
            <td scope="col">Id</td>
            <td scope="col">Title</td>
            <td scope="col">Date</td>
            <td scope="col">Action</td>
        </tr>
    </thead>
    <tbody *ngFor="let appointment of appointments; index as i">
        <tr>
            <td scope="row"> {{appointment.id}} </td>
            <td scope="row">{{appointment.title}}</td>
            <td scope="row"> {{appointment.date | date: 'dd.MM.yyyy'}}</td>
            <td scope="row">
                <button class="btn btn-danger" 
                        (click)="deleteAppointment(i)">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>